@include ipad-landscape {
    .edgtf-page-header,
    .edgtf-top-bar{
        display: none;
    }

    .edgtf-mobile-header {
        display: block;
    }

	.edgtf-header-vertical {
		.edgtf-vertical-menu-area {
			display: none;
		}
		.edgtf-content,
		footer {
			padding-left: 0;
		}
	}

	.edgtf-header-vertical .carousel-inner {
		left: 0 !important;
		width: 100%;
	}
}

.edgtf-drop-down .edgtf-menu-wide .edgtf-menu-second > .edgtf-menu-inner > ul {
    @include laptop-landscape {
        width: $grid-width-laptop-landscape;
    }

    @include ipad-landscape {
        width: $grid-width-ipad-landscape;
    }

}

.edgtf-boxed{
	.edgtf-page-header .edgtf-sticky-header,
	.edgtf-page-header .edgtf-fixed-wrapper.fixed{
		@include laptop-landscape {
			width: $grid-width-laptop-landscape-boxed;
		}
	}

	&.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner{
		@include ipad-landscape {
			width: $grid-width-ipad-landscape-boxed;
			left: auto;
		}

		@include ipad-portrait {
			width: $grid-width-ipad-portrait-boxed;
		}

		@include phone-landscape {
			width: $grid-width-phone-landscape-boxed;
		}
	}
}