/* Home Banner */

.rs-layer.rev-btn {
  border-radius: 0 !important;
  margin-top: 20px;
}

/* Our Team Page */


.page-template-page-team-php .edgtf-title,
.page-template-page-team-php .edgtf-page-header,
.page-template-page-team-php .edgtf-mobile-header {
  z-index: unset !important;
}

.page-template
.edgtf-social-icon-widget-holder .edgtf-social-icon-widget {
  color: #000;
}

.page-id-13867 .edgtf-social-icon-widget-holder .edgtf-social-icon-widget{
  color: #fff ;
}

.team_wrapper {
  padding: 50px 0;
}

.team_wrapper h2 {
  font-size: 35px;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 20px;
}

.team_wrapper h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ffb422;
  height: 3px;
  max-width: 50px;
}

.team_wrapper .intro {
  padding: 20px 0;
}

.team_wrapper .intro p {
  text-align: center;
}

.team_wrapper ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.team_wrapper ul li{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 200px;
  width: 100%;
  margin: 20px 15px;
}

.team_wrapper ul li button {
  background: none;
  border: none;
}

.team_wrapper ul li p{
  margin: 0;
  color: #ffb422;
  font-family: Merriweather,serif;
  font-size: 14px;
  font-weight: 700;
}
.team_wrapper ul li img {
  max-width: 100%;
  margin-bottom: 20px;
}

.modal-backdrop {
  z-index: unset;
}

@media (min-width: 568px){
  .modal-dialog {
      width: 800px;
      margin: 30px auto;
  }
  .modal-dialog .image {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 200px;
    height: 200px;
    float: left;
    width: 100%;
    margin-right: 20px;
  }
  .modal-dialog .modal-body {
   
    text-align: left;
    
  }
  .modal-dialog .modal-body p {
    color: #000;
    margin-bottom: 15px;
  }
  .modal-content {
    background-color: #f2e9d7;
    border-radius: 0;
    border: none;
    padding: 50px 20px;
  }
  .modal-dialog .modal-body button {
    color: #262353 !important;
  }
}

/* Testimonials Homepage */

.testimonials {
  margin: 40px 0;
  padding: 20px 0;
}

.testimonials .slide {
  padding: 0 100px;
  position: relative;

}

.testimonials .slide .inner {
  
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 300px;
  display: flex;
  align-items: center;
}
.testimonials .slide .inner .body {
  position: relative;
  padding-top: 50px;
} 
.testimonials .slide .inner .body img {
  max-width: 50px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.testimonials .slide .inner .body .quote-mark {
  position: relative;
}

.testimonials .slide .inner .body .quote-mark:before {
  content: '';
  position: absolute;
  background: white url('../img/quote-mark.png');
  height: 2px;
  width: 45%;
  top: -60px;
  left: 0;
}
.testimonials .slide .inner .body .quote-mark:after {
  content: '';
  position: absolute;
  background-color: white;
  height: 2px;
  width: 45%;
  top: -60px;
  right: 0;
}

.testimonials .slide .inner .body p {
  font-family: Merriweather,serif;
  color: #fff;
  line-height: 41px;
  font-size: 36px;
  font-weight: 500;
}

.testimonials .slide .inner .body p.author {
  color: #fff;
  font-size: 20px;
  text-align: right;
  margin-bottom: 0;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev{
  font-size: 70px !important;
  color: #fff !important;
  position: absolute;
  top:50%;
}

.owl-carousel .owl-nav button.owl-next {
  right: 100px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 100px;
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.owl-carousel .owl-dots button {
  height: 10px;
  width: 10px;
  background-color: grey !important;
  border-radius: 100%;
  margin: 0 10px 0 0;
}

.owl-carousel .owl-dots button.active {
  background-color: #262353 !important;
}

#more {display: none;}

.edgtf-title .edgtf-title-holder .edgtf-breadcrumbs a,
.edgtf-main-menu>ul>li.edgtf-active-item>a, body:not(.edgtf-menu-item-first-level-bg-color) .edgtf-main-menu>ul>li:hover>a,
.edgtf-light-header .edgtf-page-header>div:not(.edgtf-sticky-header) .edgtf-main-menu>ul>li.edgtf-active-item>a, 
.edgtf-light-header.edgtf-header-style-on-scroll .edgtf-page-header .edgtf-main-menu>ul>li.edgtf-active-item>a,
.edgtf-title-with-number .edgtf-twn-number,
a, p a{
  color: #c29f48;
}

.edgtf-separator, .rev-btn:hover {
  border-color: #c29f48 !important;
}

.edgtf-btn.edgtf-btn-solid, .rev-btn:hover {
  background-color: #c29f48 !important;
}

.edgtf-call-to-action.normal,
.vc_custom_1492506469972,
::selection {
  background-color: #c29f48 !important;
}

.edgtf-title .edgtf-title-holder {
  background-color: rgb(177,194,204) !important;
}

.edgtf-btn {
  border-radius: 0;
}

/* Footer */

footer .edgtf-footer-column-1  {
padding-right: 50px;
}

footer .edgtf-footer-top-holder {
  background-color: #262353 !important;
  border-bottom: 1px solid #262353 !important;
}

footer .edgtf-footer-bottom-holder {
  background-color: #262353 !important;
  padding: 0 !important;
  border-top: 1px solid #262353 !important;
}

footer .widget.widget_text p {
  font-family: Merriweather,serif;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
}

footer .edgtf-footer-bottom-holder .edgtf-three-columns {
  border-top: 1px solid #fff;
  padding-top: 20px;
}

footer .edgtf-footer-bottom-holder p {
  color: #c29f48;
  font-family: Merriweather,serif;
  font-size: 14px;
}

footer .widget.widget_recent_entries ul li {
  border-bottom: 2px solid #fff !important;
}
footer .widget.widget_recent_entries ul li:last-child {
border: none !important;
}


.campaign.grey,
.project.grey{
  background: grey;
}

.project.gold{
  background: #c29f48;
}


.campaign .container,
.project .container  {
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
  padding: 60px 0;
}

.campaign .container .row,
.project .container .row {
  display: flex;
  position: relative;
  margin: 0 -15px;
}

.campaign .container .col,
.project .container .col {
  flex: 50%;
  padding: 0 15px;
}

.campaign .container .col .body,
.project .container .col .body {
  padding: 0 60px;
}

.campaign .container .col p,
.project .container .col p,
.project .container .col ul li  {
  color: #000;
}

.project .container .col ul li {
  font-size: 13px;
}

.project .container .col h2,
.project .container .col h3,
.campaign .container .col h3,
.single-campaign .container .col h2 {
margin-bottom: 20px;
}

.project .container .col .btn,
.campaign .container .col .btn {
  background:#262353;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 11px 44px;
  position: absolute;
  bottom:0;
}

.project .container .col .btn.progress {
  right: 0;
  padding: 15px 44px;
}

.project.white .btn.white,
.campaign.white .btn.white{
  border: 1px solid #000;
  max-width: 115px;
  text-align: center;
  width: 100%;
}

.project .container .col .btn.white,
.campaign .container .col .btn.white {
  background: #fff;
  color: #000;
  padding: 15px 44px;
  max-width: 115px;
  text-align: center;
  width: 100%;
}

.project .container .col .btn.white:hover,
.campaign .container .col .btn.white:hover {
  background: #262353;
  color: #fff;
}

.project .container .col .btn:hover,
.campaign .container .col .btn:hover {
  background:#fff;
  color: #000;
}

.single-campaign .banner {
  height: 432px;
  display: flex;
  align-items: center;
}

.single-campaign .banner:before {
  background: #000;
  content: '';
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  height: 432px;
  opacity: 0.4;
}

.single-campaign .container {
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
}

.single-campaign .container h1 {
  color: #fff;
  font-size: 50px;
  position: relative;
}

.single-campaign .container .row {
  display: flex;
  position: relative;
  margin: 40px -15px;
}

.single-campaign .container .col {
  flex: 50%;
  padding: 0 15px;
}

.edgtf-social-icon-widget-holder .edgtf-social-icon-widget {
  color: #fff !important;
  font-size: 20px;
  margin-right: 10px;
}