/* ==========================================================================
# Search style - begin
========================================================================== */

.edgtf-search-opener {
	@include edgtfTransition(all 0.15s ease-out);

	.edgtf-search-icon-text {
		@include edgtfTransition(all 0.15s ease-out);
	}
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header) .edgtf-search-opener,
.edgtf-light-header.edgtf-header-style-on-scroll .edgtf-page-header .edgtf-search-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-search-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener

	&:hover {
		opacity:0.8;
	}
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header) .edgtf-search-opener,
.edgtf-dark-header.edgtf-header-style-on-scroll .edgtf-page-header .edgtf-search-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-search-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener

	&:hover {
		opacity:0.8; 
	}
}

/* Search slides from header bottom - end
========================================================================== */

/* Search covers header - begin
========================================================================== */

.edgtf-search-cover {
	display: none;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 115;
	background:#fff;

	.edgtf-container{
		background-color:inherit;
	}

	.edgtf-form-holder-outer {
		display: table;
		width: 100%;
		height:100%;
	}

	.edgtf-form-holder {
		display: table-cell;
		vertical-align: middle;
		padding:0 45px;
		position:relative;
	}

	.edgtf-form-holder-inner {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	.edgtf-container-inner {

		.edgtf-form-holder {
			padding: 0;
		}

		.edgtf-search-close {
			right: 0;
		}

	}

	input,
	input:focus {
		background-color: transparent;
		border: medium none;
		box-shadow: none;
		color:$default-text-color;
		font-size: 20px;
		font-weight: 700;
		display: inline-block;
		width: 90%;
		padding:0;
		font-family: $default-heading-font;
		outline: none;
		outline-offset:0;
		-webkit-appearance: none;
		border-radius: 0;
		float: left;
		margin: 0;
	}

	input:focus {
		outline-offset: 0 !important;
	}

	input[type="submit"] {
		border: 0 none;
		clip: rect(0px,0px,0px,0px);
		height: 1px;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
		visibility: hidden;
	}

	.edgtf-search-close {
		font-size: 25px;
		position: absolute;
		right: 24px;
		top:50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		line-height:1em;
	}

	.edgtf-search-close {

		a {
			color: #313131;
			display: inline-block;
		}

		a:hover {
			color: $first-main-color;
		}

		a i {
			vertical-align: top;
		}

	}

}

.edgtf-search-cover.disabled {

	input,
	input:focus{
		font-weight: normal;
	}

}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder{
	color:$default-text-color;
	margin: 10px 0px 0px 0px;
}

/* Fullscreen search general style - start
========================================================================== */

.edgtf-fullscreen-search-holder {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:105;
	opacity:0;

	.edgtf-search-label {
		font-size: 24px;
		line-height: 1em;
		color: $first-main-color;
		font-family: $first-main-font;
		font-style: italic;
		vertical-align:bottom;
	}

	.edgtf-field-holder {
		width:30%;
		display:inline-block;
		vertical-align:bottom;
		position:relative;
		border-bottom: 1px solid $default-border-color;

		.edgtf-line {
			position:absolute;
			bottom:-1px;
			left:0;
			height:1px;
			width:0;
			background-color: $default-text-color;
			@include edgtfTransition(width 0.3s ease);
		}

	}

	.edgtf-search-field {
		width:100%;
		border-left:none;
		border-top:none;
		border-right:none;
		border-bottom:none;
		background:transparent;
		outline:none;
		height:100%;
		font-size:30px;
		color: $default-text-color;
		line-height:1em;
		position:relative;
	}

	.edgtf-search-submit {
		border:none;
		background:transparent;
		outline:none;
		width: auto;
		cursor: pointer;
		font-family: 'ElegantIcons';
		font-size:20px;
		line-height:1em;
		color: #a1a1a1;
		@include edgtfTransition(color 0.2s ease);
	}

	.edgtf-search-submit:hover {
		color: $first-main-color;
	}

	.edgtf-search-close-holder {
		float:right;
		margin-right: 45px;
	}

	.edgtf-fullscreen-search-close-container {
		position:absolute;
		left:0;
		top:0;
		width:100%;

		a {
			opacity:0;
			visibility:hidden;
			-webkit-transition: opacity 0.2s ease, color 0.2s ease;
			transition: opacity 0.2s ease, color 0.2s ease;
			position: absolute;
			top: 40px;
			right: 40px;
		}

	}

}

.edgtf-fullscreen-search-table {
	display: table;
	width:100%;
	height:100%;
}

.edgtf-fullscreen-search-cell {
	display: table-cell;
	vertical-align: middle;
	width:100%;
	height:100%;
	text-align:center;
}

//Fix for woocommerce page
.edgtf-fullscreen-search-opened .edgtf-form-holder .edgtf-search-field {
	width:100%;
	border-left:none;
	border-top:none;
	border-right:none;
	border-bottom:none;
	background:transparent;
	outline:none;
	height:100%;
	font-size:30px;
	color: #a1a1a1;
	line-height:1em;
	position:relative;
	padding: 0;
	font-family: $first-main-font;
	font-style: italic;
}

/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search from circle style - start
========================================================================== */

.edgtf-fullscreen-search-overlay {
	position:absolute;
	width:2000px;
	height:2000px;
	margin-top:-1000px;
	margin-left:-1000px;
	top:50%;
	left:0;
	border-radius:100%;
	opacity:0;
	z-index:99;
	-ms-transform-origin: 50%;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	@include edgtfTransform(scale(0));
	background-color: rgba(48,39,28,0.98);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-ms-transition: -ms-transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
	transition: transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
}


.edgtf-fullscreen-search-overlay.edgtf-animate{
	@include edgtfTransform(scale(3));
	opacity:1;
}

.edgtf-search-from-circle .edgtf-fullscreen-search-holder {
	@include edgtfTransition(opacity 0.3s ease);
	display:none;
	opacity:0;
	visibility:visible;
	z-index:111;
}

/* Fullscreen search from circle style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.edgtf-search-fade .edgtf-fullscreen-search-holder {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	z-index:111;
	box-sizing: border-box;

	.edgtf-fullscreen-search-table {
		background-color:rgba(0,0,0,.98);
	}
}

.edgtf-search-fade-out.edgtf-search-fade .edgtf-fullscreen-search-holder {
	@include edgtfAnimation(search_fade_out .25s linear both);
}

.edgtf-search-fade-in.edgtf-search-fade .edgtf-fullscreen-search-holder.edgtf-animate{
	@include edgtfAnimation(search_fade_in .25s linear both);
}

.edgtf-search-fade .edgtf-fullscreen-search-holder.edgtf-animate .edgtf-fullscreen-search-close {
	opacity:1;
	visibility:visible;
}

.edgtf-fullscreen-search-close i{
	font-size:25px;
	color: $default-text-color;
}


@-webkit-keyframes search_fade_out {
	0%{
		opacity:1;
		visibility: visible;
	}
	100%{
		opacity:0;
		visibility: hidden;
	}
}
@keyframes search_fade_out{
	0%{
		opacity:1;
		visibility: visible;
	}
	100% {
		opacity:0;
		visibility: hidden;
	}
}
@-webkit-keyframes search_fade_in {
	0% {
		opacity:0;
		visibility: hidden;
	}
	100% {
		opacity:1;
		visibility: visible;
	}
}
@keyframes search_fade_in{
	0%{
		opacity:0;
		visibility: hidden;
	}
	100%{
		opacity:1;
		visibility: visible;
	}
}

/* Fullscreen search fade style - end
========================================================================== */

/*---------------Fade animation with PUSH TEXT TOP------------*/

@-webkit-keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px)
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

@keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px);
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

.edgtf-search-fade.edgtf-fullscreen-search-opened .edgtf-fullscreen-search-holder .edgtf-form-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include edgtfAnimation(search_push_text_top .4s ease-out both .25s);
}

.edgtf-search-fade-out.edgtf-search-fade .edgtf-fullscreen-search-holder .edgtf-search-label,
.edgtf-search-fade-out.edgtf-search-fade .edgtf-fullscreen-search-holder .edgtf-search-submit,
.edgtf-search-fade-out.edgtf-search-fade .edgtf-fullscreen-search-holder .edgtf-field-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include edgtfTransform(translateY(-30px));
	@include edgtfTransition(transform 0.75s ease-out);
}

/*----------------------FULLSCREEN SEARCH style end--------------------------*/

.edgtf-search-page .edgtf-no-posts-found {
    margin: 80px 0;
    text-align: center;
    padding: 0 20%;
    
	.edgtf-no-posts-found-title {
	    margin-bottom: 24px;
	}
}

/*----------------------SERACH RESULTS style end--------------------------*/

/* ==========================================================================
# Search style - end
========================================================================== */
