/* #Blog Masonry - start
========================================================================== */

.edgtf-blog-holder {

    &.edgtf-blog-type-masonry {
        margin-bottom: 20px;
        overflow: visible !important;
        opacity: 0;
        @include edgtfTransition(opacity 0.15s ease-out);

        &.edgtf-appeared{
            opacity: 1;
        }

        article {
            display: block;
            width: 32%;
            padding: 0;
            text-align: left;
            vertical-align: top;
            z-index: 100;
            margin: 0 0 20px;
            border-bottom: none;
            box-sizing: border-box;
            @include edgtfTransition(border-color 0.15s ease-out);

            .edgtf-post-text {
                padding: 33px 0 0 0;
            }

            .edgtf-post-excerpt {
                margin-bottom: 0px;
            }

            .edgtf-post-title {
                margin-bottom: 15px;
            }

            .edgtf-post-info {
                margin-bottom: 13px;
            }

            &.format-link,
            &.format-quote {
                .edgtf-post-text {
                    padding: 30px;

                    .edgtf-post-mark.edgtf-quote-mark {
                        font-size: 150px;
                    }

                    .edgtf-post-mark.edgtf-link-mark {
                        font-size: 150px;
                    }
                }
            }

            &.format-link {
                .edgtf-post-text {
                    padding: 30px 30px 80px;
                }
            }
        }

        .edgtf-blog-masonry-grid-sizer {
            width: 32%;
        }
        .edgtf-blog-masonry-grid-gutter {
            width: 2%;
        }

        #infscr-loading {
            position: absolute;
            bottom: -35px;
            left: 50%;
            @include edgtfTransform(translateY(-50%));
        }
    }

    &.edgtf-masonry-full-width {
        $gap:30px;
        .edgtf-blog-masonry-grid-sizer,
        article {
            width: calc(25% - 3 / 4 * #{$gap});
        }
        article{
            margin-bottom: 20px;
        }
        .edgtf-blog-masonry-grid-gutter {
            width: $gap;
        }
        .edgtf-post-title{
            margin-bottom:7px;
        }
        .edgtf-post-text{
            background:#fff;
        }
    }
}

/* #Blog Masonry - end
========================================================================== */