.edgtf-blog-holder {
    article {
        border-bottom: 3px solid #f4f4f4;
        margin-bottom: 54px;

        .edgtf-more-link-container {
            margin-bottom: 15px;
        }

        .edgtf-post-image {
            a {

                display: block;
                position: relative;
                overflow: hidden;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(255,255,255,.2);
                    opacity: 0;
                    @include edgtfTransition(opacity .2s ease);
                }
                &:hover:after {
                    opacity: 1;
                    @include edgtfTransition(opacity .6s ease);
                }
            }
            img {
                vertical-align: middle;
            }
        }

        .edgtf-post-text {
            position: relative;
            padding: 37px 0 0 0;
            background-color: #fff;
        }

        .edgtf-post-text-inner {

            > h1:not(.edgtf-post-title),
            > h2:not(.edgtf-post-title),
            > h3:not(.edgtf-post-title),
            > h4:not(.edgtf-post-title),
            > h5:not(.edgtf-post-title),
            > h6:not(.edgtf-post-title) {
                margin: 15px 0;
            }
        }

        .edgtf-post-excerpt{
            margin-bottom: 47px;
        }

        .edgtf-post-title {
            margin-bottom: 9px;
        }

        &.sticky {
            .edgtf-post-title a {
                color: $first-main-color;
            }
        }

        .edgtf-post-info{

            margin-bottom: 29px;
            font-size: 12px;
            line-height: 14px;
            font-family: $default-heading-font;
            color: $first-main-color;

            > div {
                display: inline-block;
                position: relative;
                margin-right: 7px;
                line-height: 1.3em;

                &.edgtf-post-info-author a {
                    text-transform: capitalize;
                }

                a {
                    color: $first-main-color;
                    &:hover {
                        color: $default-heading-color;
                    }
                }

                &:after {
                    content: '|';
                    margin-left: 7px;
                    color: #d8d8d8;
                }

                    
            }

            > div:last-child {
                margin-right: 0;
                
                &:after {
                    display: none;
                }
            }
        }

        .edgtf-blog-read-more {
            margin-top: 17px;
            display: block;
            color: #000;
            font-weight: 500;
        }

        .edgtf-post-info-bottom {

            display: inline-block;
            width: 100%;
            vertical-align: middle;
            padding: 7px 0 12px;

            .edgtf-post-info-bottom-left {
                float: left;
                width: 50%;

                a {
                    font-family: $default-heading-font;
                    font-size: 14px;
                    font-weight: 400;
                    color: $default-heading-color;
                    text-transform: capitalize;

                    &:hover {
                        color: $first-main-color;
                    }
                }
            }

            .edgtf-post-info-bottom-right {
                float: right;
                text-align: right;
                width: 50%;
            }
        }

        &.format-link,
        &.format-quote {

            .edgtf-post-content {
                .edgtf-post-text {
                    padding: 28px 26px 18px;
                    box-sizing: border-box;
                    position: relative;
                    background-color: $default-elements-background-color;

                    .edgtf-post-text-inner {
                        position: relative;
                        z-index: 2;

                        .edgtf-post-info-bottom {
                            border-top: 2px solid $default-border-color;
                            border-bottom: none;
                        }

                        .edgtf-quote-author {
                            font-family: $default-heading-font;
                            font-size: 15px;
                            font-weight: 700;
                            color: $default-heading-color;
                            display: block;
                        }
                    }

                    .edgtf-post-mark{
                        position: absolute;
                        color: #eae5df;
                        z-index: 1;

                        &.edgtf-quote-mark {
                            line-height: 1em;
                            font-size: 185px;
                            right: 23px;
                            top: 11px;
                            font-family: $default-heading-font;
                        }

                        &.edgtf-link-mark{
                            font-size: 152px;
                            right: 29px;
                            top: 25px;
                        }
                    }
                }

                .edgtf-post-info-bottom {
                    padding: 0;
                    padding-top: 17px;
                }
            }
        }

        &.format-link {
            .edgtf-post-info-bottom {
                margin-top: 17px;
            }

            .edgtf-post-content {
                .edgtf-post-text {
                    .edgtf-post-title {
                        margin-bottom: 15px;
                    }
                }
            }

            .edgtf-post-info {
                margin-bottom: 48px;
            }
        }

        &.format-quote {

            .edgtf-post-info {
                margin-bottom: 48px;
            }

            .edgtf-post-info-bottom {
                margin-top: 38px;
            }

            .edgtf-post-content {
                .edgtf-post-text {
                    .edgtf-post-title {
                        margin-bottom: 16px;
                        padding-right: 25%;
                    }
                }
            }
        }
    }

    &:not(.edgtf-blog-single) article {
        &.format-link,
        &.format-quote {
            border: none;
        }
    }


}

.edgtf-blog-infinite-scroll-button{
    display: none;
}

.edgtf-filter-blog-holder{

    text-align: center;
    margin-bottom: 30px;

    li {
        display:inline-block;
        padding: 0 8px;
        cursor: pointer;
        font-size: 15px;

        &.edgtf-active{
            color: $first-main-color;
        }
    }
}


/* #Audio styles - start
   ========================================================================== */

.edgtf-blog-audio-holder {
    width: 100%;
    height: 44px;

    .mejs-container {
        height: 44px !important;
        background: $first-main-color;
        margin-top: -5px;


        .mejs-controls{
            display: flex;
            align-items: center;
            height: 44px !important;
            padding: 0 13px 0 10px;
            box-sizing: border-box;

            .mejs-time {
                color: #fff;
                padding: 13px 5px 0;
                font-size: 12px;
            }

            .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
            .mejs-time-rail .mejs-time-loaded {
                background: #fff;
                @include edgtfBorderRadius(45px);
            }

            .mejs-time-rail .mejs-time-total {
                margin:5px 8px;
            }

            a.mejs-horizontal-volume-slider {
                margin-top: 1px;
            }
            .mejs-time-rail .mejs-time-total {
                background: #fff;
                @include edgtfBorderRadius(45px);
            }

            .mejs-time-rail .mejs-time-current,
            .mejs-horizontal-volume-slider .mejs-horizontal-volume-current
            {
                background: #212121;
                @include edgtfBorderRadius(45px);
            }
            .mejs-time-rail span,
            .mejs-time-rail a{
                height: 5px;

            }
            .mejs-time-rail .mejs-time-total {
                margin-top: 7px;
            }
            .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
            .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
                height: 5px;
            }
        }
        .mejs-container,
        .mejs-controls{
            background: transparent;
        }
    }
}
/* #Audio styles - end
========================================================================== */


/* Related Posts - begin
========================================================================== */

.edgtf-related-posts-holder {
    margin-bottom: 35px;
    padding-bottom: 35px;

    .edgtf-related-posts-title {
        margin-bottom: 20px;
    }

    .edgtf-related-post {
        width: 24.8125%;

        margin-right: 0.25%;
        display: inline-block;
        float: left;

        &:nth-child(4n) {
            margin-right: 0;
        }

        img {
            display: block;
        }

        .edgtf-related-post-image {
            margin-bottom: 16px;
        }

        .edgtf-related-post-title,
        .edgtf-related-post-info {
            margin-bottom: 6px;
        }

        .edgtf-related-post-info {
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1px;
        }

    }

}

//Related posts with sidebar

.edgtf-column1 .edgtf-related-posts-holder,
.edgtf-column2 .edgtf-related-posts-holder {

    .edgtf-related-post {
        width: 33.16%;
        margin-right: 0.25%;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.edgtf-slick-slider-navigation-style.edgtf-blog-gallery{
    .slick-list{
        padding:0;
    }
    .edgtf-slick-prev,
    .edgtf-slick-next{
        color:#fff;
    }

    .edgtf-slick-prev {
        left:16px;
        right:auto;
    }

    .edgtf-slick-next {
        right:16px;
        left:auto;
    }
}

.page-template-blog-masonry-full-width{
    .edgtf-pagination-holder .edgtf-pagination li{
        &.edgtf-pagination-prev{
            left:61px;
        }
        &.edgtf-pagination-next{
            right:64px;
        }
    }
}

/* Related Posts - end
========================================================================== */

/* Blog standard list sidebar - start
========================================================================== */

.page-template-blog-standard {
    .edgtf-sidebar {
        padding-left: 45px;
    }
    .edgtf-has-sidebar-left {
        .edgtf-sidebar {
            padding-left: 0;
            padding-right: 45px;
        }
    }
}

/* Blog standard list sidebar - end
========================================================================== */