.edgtf-header-vertical {
    .edgtf-vertical-dropdown-float {
        .menu-item .edgtf-menu-second {
            position: absolute;
            top: -16px; // Second menu padding
            left:100%;
            width: 70%;
            margin-left: 50px;
            opacity: 0;
            background-color: #fff;
            visibility: hidden;

            @include edgtfTransition(all 0.3s ease-in-out);

            * {
                visibility: hidden;

                @include edgtfTransition(visibility 0.3s ease-in-out)
            }
        }

	    .edgtf-menu-inner ul{
		    margin:0;
		    padding:0;
	    }

        .menu-item .edgtf-menu-second.edgtf-float-open {
            margin-left: 0px;
            opacity: 1;
            visibility: visible;
            border-left: 3px solid $second-main-color;

            * {
                visibility: visible;
            }
        }

        .menu-item .edgtf-menu-second.vertical_menu_start ul li ul,
        .menu-item .edgtf-menu-second.vertical_menu_start ul li ul * {
            visibility: hidden;
        }

        .menu-item .edgtf-menu-second.vertical_menu_start ul li ul.edgtf-float-open,
        .menu-item .edgtf-menu-second.vertical_menu_start ul li ul.edgtf-float-open * {
            visibility: visible;
            opacity: 1;
        }

        .edgtf-menu-second .edgtf-menu-inner ul {
            width: 100%;
            padding: 17px 0;
            @include edgtfBoxSizing(border-box);
        }

        .edgtf-menu-second .edgtf-menu-inner ul ul {
            position: absolute;
            border: none;
            top: -17px; // Second menu padding
            left: 100%;
            margin-left: 50px;
            height: auto;
            visibility: hidden;
            width: 100%;
            opacity: 0;
            overflow: hidden;
            z-index: 10;
	        background-color: #fff;
            padding: 17px 0;
            border-left: 3px solid $second-main-color;
            transition: all 0.3s ease-in-out;

            @include edgtfTransition(all 0.3s ease-in-out);
        }

        .edgtf-menu-second .edgtf-menu-inner ul ul.edgtf-float-open {
            opacity: 1;
            z-index: 300;
            margin-left: 0;
            visibility: visible;
        }

        .edgtf-menu-second .edgtf-menu-inner ul li a {
            display: block;
            height: auto;
            font-weight: 600;
            line-height: 18px;
            color: #000;
            margin: 0;
	        font-size: 13px;
            padding: 10px 20px;
            text-decoration: none;
            position: relative;
            font-family: $first-main-font;

            @include edgtfTransition(all .25s cubic-bezier(.14,.41,.58,1));

            &:hover {
                color: $first-main-color;
                margin-left: 9px;
            }
        }

        ul li a .edgtf-menu-arrow {
            position: absolute;
            top: 50%;
            right: 14px;
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            margin: -6px 0 0;
            color: #9fcf5d;
        }

        .edgtf-menu-second .edgtf-menu-inner > ul > li > a .edgtf-menu-icon {
            @include edgtfTransition(color 0.15s ease-out);
        }
    }
}