@media only screen and (max-width:$laptop-mid-landscape){
	.edgtf-blog-list-holder .edgtf-item-info-section > div{
		padding-right:7px;
		margin-right:7px;
	}
}

@media only screen and (max-width:$laptop-landscape){
	.edgtf-blog-list-holder .edgtf-item-info-section > div{
		line-height: 1.8em;
	}
}

@media only screen and (max-width: $ipad-landscape){
    
	.edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-sizer,
	.edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-item {
		width: 49%;
	}
    
	.edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-gutter {
		width: 2%;
	}
    
    .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li,
    .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li {
		width: 49%;
		margin: 0 2% 25px 0;
        
        &:nth-child(2n){
            margin: 0 0 25px;
        }
        &:nth-child(2n+1){
            clear:both;
        }        
	}
}

@media only screen and (min-width: $phone-landscape) and (max-width: $ipad-landscape) {
    
    .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li,
	.edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li,
    .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns > ul > li,
    .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li {
		width: 49%;
        margin: 0 2% 25px 0;
        
        &:nth-child(2n){
            margin: 0 0 25px;
        }
         &:nth-child(2n+1){
            clear:both;
        }   
	}    
}

@media only screen and (max-width: $ipad-landscape){
    
	.edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-sizer,
	.edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-item {
		width: 100%;
	}
	.edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-gutter {
		width: 0;
	}
	.edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li,
    .edgtf-blog-list-holder.edgtf-boxes.edgtf-three-columns > ul > li,
    .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li,
    .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li,
    .edgtf-blog-list-holder.edgtf-standard.edgtf-three-columns > ul > li,
    .edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns > ul > li{
        width: 100% !important; // important is set to override all other selectors
        margin: 0 0 25px !important;
    }
    
    .edgtf-blog-list-holder.edgtf-image-in-box{
        
        .edgtf-blog-list-item-inner{
            display: block;
        }
        .edgtf-item-text-holder{
            display: block;
            padding: 20px 0;
        }
        .edgtf-item-image{
            display: block;
            width: auto;
        }
    } 
}