/* #Latest posts
   ========================================================================== */
.edgtf-blog-list-holder{
	display: inline-block;
	width: 100%;
    
    &>ul{
        list-style: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        padding:0;	
        vertical-align: top;
        
        &>li{
            display: block;
            position: relative; 
        }
    }
    .edgtf-item-text-holder {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 30px 0;
    } 
    .edgtf-excerpt{
        margin: 0 0 15px;
    }
    .edgtf-item-info-section {
		margin-bottom: 15px;
        font-size: 12px;
        font-family: $default-heading-font;
        color: $first-main-color;

        > div {
            display: inline-block;
            position: relative;
            margin-right: 6px;

            &.edgtf-post-info-author a {
                text-transform: capitalize;
            }

            a {
                color: $first-main-color;
                &:hover {
                    color: $default-heading-color;
                }
            }

            &:after {
                content: '/';
                margin-left: 6px;
            }

                
        }

        > div:last-child {
            margin-right: 0;
            
            &:after {
                display: none;
            }
        }
    }
    .edgtf-item-image a {
        display: block;
        position: relative;
        overflow: hidden;
	    &:after {
	        content: '';
	        position: absolute;
	        top: 0;
	        left: 0;
	        height: 100%;
	        width: 100%;
	        background-color: rgba(48, 39, 28, 0.3);
	        opacity: 0;
	        @include edgtfTransition(opacity .45s ease);
	    }
	    &:hover:after {
        	opacity: 1;
    	}
    }

    .edgtf-item-image img{
        width:100%;
		vertical-align: middle;
    }
}
.edgtf-blog-list-holder.edgtf-boxes{
	> ul{
        clear: both;
        
        >li{
            padding: 0;
            float: left;
            border: 0;
            box-sizing: border-box;
            margin: 0 2% 2% 0;
        }
    }

	.edgtf-item-text-holder {
		background-color: transparent;
	}
	.edgtf-item-title {
		margin-bottom: 20px;
	}

	.edgtf-blog-list-read-more {
		color: $first-main-color;
		font-weight: 800;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1.5px;

		i {
			position: relative;
			vertical-align: middle;
			top: -2px;
			margin-left: 10px;
			font-size: 20px;
			color: $first-main-color;
			right:0;
			@include edgtfTransition(right .2s cubic-bezier(0.1,0,0.3,1));
		}

        span {
            display:inline-block;
            font-size: 20px;
            line-height: 21px;
            vertical-align: middle;
            @include edgtfTransition(all 0.3s ease);
        }

		&:hover{

            span {
                @include edgtfTransform(translateX(5px));
            }

			i{
				right:-6px;
			}
		}
	}

}

.edgtf-blog-list-holder.edgtf-standard {
	> ul{
		clear: both;

		>li{
			padding: 0;
			float: left;
			border: 0;
			box-sizing: border-box;
			margin: 0 2% 2% 0;
		}
	}

	.edgtf-item-text-holder {
		padding: 28px 0;

	}
	.edgtf-item-title {
		margin-bottom: 5px;
	}

	.edgtf-blog-list-read-more {
		position: relative;
		color: $default-heading-color;
		font-weight: 400;
		font-size: 14px;

        span {
            display:inline-block;
            font-size: 20px;
            line-height: 21px;
            vertical-align: middle;
            @include edgtfTransition(all 0.3s ease);
        }

		&:hover{

            color: $first-main-color;

            span {
                @include edgtfTransform(translateX(5px));
            }
		}
	}
}

.edgtf-blog-list-holder.edgtf-boxes.edgtf-one-column > ul > li,
.edgtf-blog-list-holder.edgtf-standard.edgtf-one-column > ul > li {
    float: none;
    margin: 0; 
}
.edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li,
.edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns > ul > li{
    width: 49%;
}
.edgtf-blog-list-holder.edgtf-boxes.edgtf-three-columns > ul > li,
.edgtf-blog-list-holder.edgtf-standard.edgtf-three-columns > ul > li{
    width: 32%;
}
.edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li,
.edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li{
    width: 23.5%;
}
.edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns ul.edgtf-blog-list li:nth-child(2n),
.edgtf-blog-list-holder.edgtf-boxes.edgtf-three-columns ul.edgtf-blog-list li:nth-child(3n),
.edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns ul.edgtf-blog-list li:nth-child(4n),
.edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns ul.edgtf-blog-list li:nth-child(2n),
.edgtf-blog-list-holder.edgtf-standard.edgtf-three-columns ul.edgtf-blog-list li:nth-child(3n),
.edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns ul.edgtf-blog-list li:nth-child(4n){
    margin: 0;
}

.edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns ul.edgtf-blog-list li:nth-child(2n+1),
.edgtf-blog-list-holder.edgtf-boxes.edgtf-three-columns ul.edgtf-blog-list li:nth-child(3n+1),
.edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns ul.edgtf-blog-list li:nth-child(4n+1),
.edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns ul.edgtf-blog-list li:nth-child(2n+1),
.edgtf-blog-list-holder.edgtf-standard.edgtf-three-columns ul.edgtf-blog-list li:nth-child(3n+1),
.edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns ul.edgtf-blog-list li:nth-child(4n+1){
    clear: both;
}

/*------------------image in left box -----------------------------*/
.edgtf-blog-list-holder.edgtf-image-in-box{
    ul > li:not(:first-child){
        padding: 24px 0 0 0;
    }
    .edgtf-blog-list-item-inner{
        @include edgtfTableLayout;
    }
    .edgtf-item-image{
        @include edgtfTableCellLayout;
        width: 110px;
		padding-right: 17px;
    }
    .edgtf-item-text-holder{
        @include edgtfTableCellLayout;
        text-align: left;
        vertical-align: top;
		padding: 0;
		border-bottom: 2px solid $default-border-color;
    }

	.edgtf-item-info-section {
		margin: 5px 0 0 0;
	}
	.edgtf-item-title {
		margin-bottom: 5px;
	}
}
/*------------------Minimal type styles -----------------------------*/
.edgtf-blog-list-holder.edgtf-minimal{
    &> ul > li:not(:first-child){
        padding: 15px 0 0 0;
    }
    .edgtf-item-text-holder{
        padding: 0;
    }
    .edgtf-excerpt{
        margin: 0;
    }
}

/*------------------Narrow type styles -----------------------------*/
.edgtf-blog-list-holder.edgtf-narrow{
	.edgtf-item-text-holder {
		padding: 70px 50px;
	}
	.edgtf-blog-list-item {
		text-align: center;
	}
	.edgtf-item-info-section {
		margin: 0;
	}
	.edgtf-item-title {
		margin-bottom: 10px;
	}
}

/*------------------Light Skin styles -----------------------------*/

.edgtf-blog-list-holder.edgtf-blog-list-holder-light-skin {
    .edgtf-item-title {
        color: #fff;
    }

    .edgtf-item-info-section > div a:hover {
        color: #fff;
    }

    .edgtf-excerpt { 
        color: #fff;
    }
}