@media only screen and (max-width:$laptop-mid-landscape){
	.edgtf-blog-slider .edgtf-blog-slide-post-info > div{
		padding-right:6px;
		margin-right:6px;
	}
}

@media only screen and (max-width:$laptop-landscape){
	.edgtf-blog-slider .edgtf-blog-slide-post-info > div{
		line-height: 1.8em;
}
}