/* ==========================================================================
# Call to action style - begin
========================================================================== */

.edgtf-call-to-action {
	position: relative;
	display: block;
	box-sizing: border-box;
	background-color: $default-elements-background-color;

	.edgtf-call-to-action-row-75-25,
	.edgtf-call-to-action-row-50-50,
	.edgtf-call-to-action-row-66-33 {
		display: table;
		box-sizing: border-box;
		width: 100%
	}

	.edgtf-call-to-action-row-75-25 .edgtf-call-to-action-column1 {
		width: 75%;
	}

	.edgtf-call-to-action-column1{
		position:relative;
	}

	.edgtf-call-to-action-row-75-25 .edgtf-call-to-action-column2 {
		width: 25%;
	}

	.edgtf-call-to-action-row-50-50 .edgtf-call-to-action-column1,
	.edgtf-call-to-action-row-50-50 .edgtf-call-to-action-column2  {
		width: 50%;
	}

	.edgtf-call-to-action-row-66-33 .edgtf-call-to-action-column1 {
		width: 66%;
	}

	.edgtf-call-to-action-row-66-33 .edgtf-call-to-action-column2 {
		width: 34%;
	}

	.edgtf-call-to-action-column2 {
		text-align: right;
	}

	.edgtf-call-to-action-cell {
		display: table-cell;
		vertical-align: middle;
	}

	.edgtf-text-wrapper{
		.edgtf-call-to-action-icon-holder {
			display: inline-block;
			vertical-align: middle;
			padding-left:20px;
		}

		.edgtf-call-to-action-icon {
			display:table;
			height:100%;
			color: $first-main-color;
			font-size:28px;

			.edgtf-call-to-action-icon-inner {
				display:table-cell;
				height:100%;
				vertical-align:middle;
			}
		}
	}

	.edgtf-call-to-action-text {
		font-size: 22px;
		font-family: $default-heading-font;
		color: $first-main-color;
		font-weight: 700;

		p{
			margin: 0;
		}
	}
}

.edgtf-call-to-action.with-icon {

	.edgtf-text-wrapper {
		&.left{
			.edgtf-call-to-action-text {
				padding: 0 20px 0 0;
			}
		}

		&.right{
			.edgtf-call-to-action-text {
				padding: 0 0 0 70px;
			}
		}
	}
}

/* ==========================================================================
# Call to action style - end
========================================================================== */