/* ==========================================================================
# Carousels style - begin
========================================================================== */

.edgtf-carousel-holder {

	.draggable {
		.edgtf-carousel-item-holder {
			cursor: -webkit-grab;
			cursor: grab;

			&:active {
				cursor: -webkit-grabbing;
				cursor: grabbing;
			}
		}
	}

	.edgtf-carousel-item-holder {
		position: relative;

		/* Image zoom - begin
		========================================================================== */

		.edgtf-carousel-first-image-holder.edgtf-image-zoom{
			display:inline-block;
			position:relative;
			img {
				@include edgtfTransition(transform 0.15s ease-out);
				-webkit-backface-visibility: hidden;
			}

			&:hover{
				img{
					@include edgtfTransform(translateY(-10px));
				}
				&:after{
					@include edgtfTransform(translateX(-50%) scaleX(1));
				}
			}

			&:active {
				cursor:grabbing;
			}
		}

		/* Image zoom - end
		========================================================================== */


		/* Image change on hover - begin
		========================================================================== */

		.edgtf-carousel-first-image-holder.edgtf-image-change {
			position: relative;
			opacity: 1;
			z-index: 5;
			@include edgtfTransition(opacity 0.15s ease-out);
		}

		.edgtf-carousel-second-image-holder.edgtf-image-change {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			@include edgtfTransition(opacity 0.15s ease-out);
		}

		&:hover {
			.edgtf-carousel-first-image-holder.edgtf-image-change {
				opacity: 0;
			}
			.edgtf-carousel-second-image-holder.edgtf-image-change {
				opacity: 1;
			}
		}

		/* Image change on hover - end
		========================================================================== */

	}

	/* Carousel navigation - begin
	========================================================================== */

	.edgtf-carousel.owl-carousel {

		.owl-buttons {

			width: 100%;

			.owl-prev {
				position: absolute;
				top: 50%;
				@include edgtfTransform(translateY(-50%));
				left: 2%;
			}

			.owl-next {
				position: absolute;
				top: 50%;
				@include edgtfTransform(translateY(-50%));
				right: 2%;
			}

			.edgtf-prev-icon,
			.edgtf-next-icon {
				display: inline-block;
				width: 42px;
				height: 42px;
				@include edgtfBorderRadius(50%);
				border: 2px solid #74797b;
				text-align: center;

				i {
					font-size: 22px;
					line-height: 40px;
					color: #74797b;
				}

			}

		}

		.owl-pagination {
			text-align: center;

			.owl-page {
				display: inline-block;
			}

			.owl-page span {
				display: inline-block;
				width: 12px;
				height: 12px;
				margin: 3px;
				opacity: 0.5;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				background: #74797b;
			}

			.owl-page.active span {
				opacity: 1;
			}

		}

	}

	/* Carousel navigation - end
	========================================================================== */

}

/* ==========================================================================
# Carousels style - end
========================================================================== */