/* ==========================================================================
# Countdown style - begin
========================================================================== */
/* jQuery Countdown styles 2.0.0. */
.countdown-rtl {
	direction: rtl;
}

.countdown-row {
	clear: both;
	width: 100%;
	padding: 0 2px;
	text-align: center;
}
	.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}

.edgtf-countdown {
	font-weight: 300;
}

.countdown-section {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: inherit;
}
.countdown-amount {
	display: block;
	vertical-align: middle;
	position: relative;
	font-size: 80px;
	font-family: $default-heading-font;
	font-weight: 700;
	line-height: 1em;
	color: $second-main-color;
	margin-bottom: 15px;
}

.countdown-period {
	display: block;
	vertical-align: middle;
	font-family: $default-heading-font;
	font-size: 18px;
	font-weight: 700;
	color: $second-main-color;
}
.countdown-descr {
	display: block;
	width: 100%;
}

/* ==========================================================================
# Countdown style - end
========================================================================== */