/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.edgtf-image-gallery {

	.edgtf-image-gallery-grid.edgtf-gallery-columns-2 {

		.edgtf-gallery-image {

			@include phone-portrait {
				width: 100%;
			}

		}

	}

	.edgtf-image-gallery-grid.edgtf-gallery-columns-3 {

		.edgtf-gallery-image {

			@include ipad-portrait {
				width: 50%;
			}

			@include phone-portrait {
				width: 100%;
			}

		}

	}

	.edgtf-image-gallery-grid.edgtf-gallery-columns-4 {

		.edgtf-gallery-image {

			@include ipad-landscape {
				width: 50%;
			}

			@include ipad-portrait {
				width:50%;
			}

			@include phone-portrait {
				width: 100%;
			}

		}

	}

	.edgtf-image-gallery-grid.edgtf-gallery-columns-5 {

		.edgtf-gallery-image {

			@include laptop-landscape {
				width: 25%;
			}

			@include ipad-landscape {
				width: 33.33%;
			}

			@include ipad-portrait {
				width:50%;
			}

			@include phone-portrait {
				width: 100%;
			}
		}

	}

}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

/* Image Gallery Slider - end
========================================================================== */

/* Image Masonry Gallery - begin
========================================================================== */

.edgtf-image-gallery-masonry{

	@include ipad-portrait{
		.edgtf-image-masonry-grid-sizer,
		.edgtf-gallery-image.edgtf-size-square,
		.edgtf-gallery-image.edgtf-size-portrait{
			width: 50%;
		}

		.edgtf-gallery-image.edgtf-size-big-square,
		.edgtf-gallery-image.edgtf-size-landscape{
			width: 100%;
		}
	}

	@include phone-portrait{
		.edgtf-image-masonry-grid-sizer,
		.edgtf-gallery-image.edgtf-size-square,
		.edgtf-gallery-image.edgtf-size-portrait,
		.edgtf-gallery-image.edgtf-size-big-square,
		.edgtf-gallery-image.edgtf-size-landscape{
			width: 100%;
		}
	}

}

/* Image Masonry Gallery - end
========================================================================== */


/* ==========================================================================
# Image Gallery - end
========================================================================== */