/* ==========================================================================
   Item Showcase start styles
	========================================================================== */
@media only screen and (max-width: $laptop-landscape) {
	 
	.edgtf-item-showcase {
		.edgtf-item-image {
			margin-top: 0 !important;    //override inline margin if set by user
		}

	  	.edgtf-item:not(.edgtf-appeared) {
			@include edgtfTransform(translateX(-40px));
	  	}

	}

}

@media only screen and (max-width: $laptop-landscape) and (min-width: $ipad-landscape) {
	.edgtf-item-showcase {
		  	.edgtf-item-showcase-holder.edgtf-holder-left,
		 	.edgtf-item-showcase-holder.edgtf-holder-right {
		  	    width:30%;
		  	}
	}
}

@media only screen and (max-width: $ipad-landscape) {
	.edgtf-item-showcase {
		.edgtf-item-image {
			width: 100%;
			float: none;
            margin-bottom: 50px;
		}

	 	.edgtf-item-showcase-holder.edgtf-holder-left,
		.edgtf-item-showcase-holder.edgtf-holder-right {
	 	    float: left;    
	 	    width: 50%;
		    @include edgtfBoxSizing(border-box);
		    padding:0 15px;
	 	}
	}
 }

 @media only screen and (max-width: $phone-landscape) {
 	.edgtf-item-showcase {
	 	.edgtf-item-showcase-holder.edgtf-holder-left,
		.edgtf-item-showcase-holder.edgtf-holder-right {
	 	    float: none;    
	 	    width: 100%;
		    @include edgtfBoxSizing(border-box);
		    padding:0 15px;
	 	}
 	}
 }
/* ==========================================================================
  Item Showcase end styles
  ========================================================================== */