/* ==========================================================================
   Item Showcase start styles
   ========================================================================== */

.edgtf-item-showcase {
	text-align: center;
	opacity: 0;

	.edgtf-item-image {
		display: inline-block;
	 	margin-top: -180px;
	 	opacity:0;
		width: 30%;
	 	@include edgtfTransform(translateY(70px));
	 	&.edgtf-appeared {
	 	    -webkit-transition: opacity .3s 0.3s cubic-bezier(0.4, 0.87, 0.4, 0.87), -webkit-transform .3s 0.3s cubic-bezier(0.4, 0.87, 0.4, 0.87);
	 	    transition: opacity .3s 0.3s cubic-bezier(0.4, 0.87, 0.4, 0.87), transform .3s 0.3s cubic-bezier(0.4, 0.87, 0.4, 0.87);
	 	    opacity: 1;
	 	    @include edgtfTransform(translateY(0));
	 	}
	}

	.edgtf-item {
		display: inline-block;
		opacity: 0;

		&.edgtf-item-left {
			@include edgtfTransform(translateX(-70px));
			text-align: right;
			.edgtf-item-content{
				padding-right:30px;
			}
		}
		&.edgtf-item-right {
			text-align: left;
			@include edgtfTransform(translateX(70px));
			.edgtf-item-content{
				padding-left:30px;
			}
		}
		&.edgtf-appeared {
		    -webkit-transition: opacity .55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform .55s cubic-bezier(0.23, 1, 0.32, 1);
		    transition: opacity .55s cubic-bezier(0.23, 1, 0.32, 1), transform .55s cubic-bezier(0.23, 1, 0.32, 1);
		    opacity: 1;
		    @include edgtfTransform(translateX(0));
		}
		.edgtf-item-icon{
			display:table-cell;
			font-size:30px;
			i{
				@include edgtfTransition(color .15s ease-out);
			}
			&:hover i{
				color:$first-main-color!important; //has to override shortcode option - inline style (icon color)
			}
		}

		.edgtf-item-custom-icon {
			display: table-cell;
		}

		.edgtf-item-content {
			display: table-cell;
			vertical-align: top;
			.edgtf-showcase-title-holder {
				.edgtf-showcase-title {
					position: relative;
					display: inline-block;
					margin-bottom: 5px;
				}
			}

			.edgtf-showcase-text-holder {
				.edgtf-showcase-text {
                    margin: 7px 0 44px;
				}
			}
		}
	}

	.edgtf-item-showcase-holder {
		display: inline-block;
		width: 35%;

		&.edgtf-holder-left {
			float: left;
			text-align: right;
		}
		&.edgtf-holder-right {
			float: right;
			text-align: left;
		}
	}
	
}

/* ==========================================================================
   Item Showcase end styles
  ========================================================================== */