/* ==========================================================================
# Pie Chart Basic - begin
========================================================================== */

.edgtf-pie-chart-holder {
	position: relative;
	display: block;

	.edgtf-percentage {
		position: relative;
		display: block;
		height: 180px;
		width: 180px;
		line-height: 180px;
		text-align: center;
		margin: 0 auto;
		opacity: 0;
		filter: alpha(opacity=0);
		@include edgtfTransition(opacity .3s ease-out);

		.edgtf-pie-title {
			line-height: inherit;
		}

	}

	.edgtf-percentage canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	.edgtf-to-counter {
		position: relative;
		font-family: $default-heading-font;
		font-weight: 700;
		font-size: 55px;
		color: #000;

        &:after {
            content: '%';
            font-size: 30px;
        }
	}

	.edgtf-pie-chart-text {
		text-align: center;
		margin: 20px 0 0;

		.edgtf-pie-title {
			margin: 0 0 12px;
		}

	}

}

/* ==========================================================================
# Pie Chart Basic - end
========================================================================== */
