$gap-width: 35px;
@media only screen and (max-width: $laptop-mid-landscape) and (min-width: 1025px){
	.edgtf-header-vertical{
		.edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-six-columns,
		.edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-five-columns,
		.edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-four-columns{
			article{
				width: 33.33%;
			}
		}
	}

}

@media only screen and (max-width: $ipad-landscape){
	.edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery{
		&.edgtf-ptf-three-columns,
		&.edgtf-ptf-four-columns,
		&.edgtf-ptf-five-columns,
		&.edgtf-ptf-six-columns{
			article{
				width: 50%;
			}
		}
	}

    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-five-columns,
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-four-columns{
        article,
        .edgtf-portfolio-list-masonry-grid-sizer{
            width: 33.33%;
        }
    }
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-five-columns,
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-four-columns{
        article,
        .edgtf-portfolio-list-masonry-grid-sizer{
            width: calc(33.33% - #{$gap-width} * 2 / 3);
        }
    }
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry,
	.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry-with-space {

        .edgtf-portfolio-list-masonry-grid-sizer,
        article.edgtf-default-masonry-item,
        article.edgtf-large-height-masonry-item{
            width: 50%;
        }
        .edgtf-large-width-masonry-item,
        .edgtf-large-width-height-masonry-item{
            width: 100%;
        }
    }

	.edgtf-ptf-standard,
	.edgtf-ptf-gallery-with-space{
		&.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns,
		&.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns,
		&.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns{
			.edgtf-portfolio-gap,
			.mix{
				width: calc(33% - 12.5px);
			}
		}
	}

	.big-masonry{
		.edgtf-single-masonry-grid-sizer,
		.edgtf-default-masonry-item,
		.edgtf-large-height-masonry-item{
			width:33.33%;
		}
		.edgtf-large-width-height-masonry-item,
		.edgtf-large-width-masonry-item{
			width:66.66%;
		}
	}
}

@media only screen and (min-width:$ipad-portrait + 1) and (max-width: $ipad-landscape){
	.edgtf-portfolio-single-holder .edgtf-portfolio-info-item{
		.edgtf-portfolio-info-item-title,
		p{
			display:block!important; //has to overwrite stronger selector
		}
	}

	.edgtf-portfolio-single-holder .edgtf-portfolio-social .edgtf-social-share-holder .edgtf-social-share-title{
		display:block;
	}
}


@media only screen and (max-width:$ipad-portrait){
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-five-columns,
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-four-columns,
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-three-columns{
        article,
        .edgtf-portfolio-list-masonry-grid-sizer{
            width: 50%;
        }
    }
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-five-columns,
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-four-columns,
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-three-columns{
        article,
        .edgtf-portfolio-list-masonry-grid-sizer{
            width: calc(50% - #{$gap-width} / 2);
        }
    }

	.edgtf-ptf-standard,
	.edgtf-ptf-gallery-with-space{
		&.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder){
			&.edgtf-ptf-four-columns,
			 &.edgtf-ptf-five-columns,
			 &.edgtf-ptf-six-columns,
			 &.edgtf-ptf-three-columns{
				 .edgtf-portfolio-gap,
				 .mix{
					 width: calc(50% - 12.5px);
				 }
			 }
		}
	}

	.edgtf-portfolio-single-holder{
		&:not(.big-images):not(.big-masonry):not(.big-slider) .edgtf-portfolio-info-holder{
			margin-bottom:30px;
		}
	}

	.big-masonry{
		.edgtf-single-masonry-grid-sizer,
		.edgtf-default-masonry-item,
		.edgtf-large-height-masonry-item{
			width:50%;
		}
		.edgtf-large-width-height-masonry-item,
		.edgtf-large-width-masonry-item{
			width:100%;
		}
	}
}

@media only screen and (max-width: $phone-landscape){
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder) article,
    .edgtf-single-masonry-grid-sizer,
    .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder) .edgtf-portfolio-list-masonry-grid-sizer{
        width: 100% !important; // !important is set to override all other stronger selectors

    }
	.edgtf-portfolio-single-media:not(.edgtf-slick-slider){
		padding:0!important;
		width: 100% !important; // !important is set to override all other stronger selectors
		margin-bottom:30px!important;
	}
	.edgtf-portfolio-media{
		margin:0!important;
	}
    .edgtf-portfolio-filter-holder{
        .edgtf-portfolio-filter-holder-inner ul li{
            float:none;
            text-align: left;
            span{
                padding-left: 0;
            }
        }   
        
    }

	.edgtf-portfolio-single-holder .edgtf-portfolio-single-nav .edgtf-portfolio-prev span,
	.edgtf-portfolio-single-holder .edgtf-portfolio-single-nav .edgtf-portfolio-next span{
		display:none;
	}
}


.edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner{

	@include laptop-wide-landscape {
		width: $grid-width-laptop-wide-landscape;
	}

	@include laptop-landscape {
		width: $grid-width-laptop-landscape;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait;
	}
}