/* ==========================================================================
# Pricing table style - begin
========================================================================== */

.edgtf-pricing-tables.edgtf-two-columns .edgtf-price-table{
	width: 48.75%;
}

.edgtf-pricing-tables.edgtf-three-columns .edgtf-price-table{
	width: 31.666666666666668%;
}

.edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table{
	width: 23.125%;
}
.edgtf-price-table{
    position: relative;
	width: 100%;
	padding: 0;
	margin-left: 2.5%;
	float: left;
    
    &:first-child{
        margin-left: 0;
    }
}    
    
.edgtf-price-table .edgtf-price-table-inner{
    position: relative;
    background-color: $default-elements-background-color;

    ul{
        list-style: none outside none;
        margin: 0;
    }

    ul li{
        text-align: center;
        margin: 0;
        padding: 0;
    }

    ul li.edgtf-table-title,
    ul li.edgtf-table-prices,
    ul li.edgtf-table-content{
        border-bottom: 2px solid #dfd8c4;
    }

    ul li.edgtf-table-title{
        padding: 29px 10px 22px;
        position: relative;
    }

    ul li.edgtf-table-title .edgtf-title-content {
        display: block;
    }

    ul li.edgtf-table-content{
        padding:31px 40px;

	    p {
		    margin: 0;
	    }
    }

	ul li.edgtf-table-content ul{
		padding:0;
	}

    ul li.edgtf-table-content ul li:last-child{
        border-bottom: none;
    }

    ul li.edgtf-table-prices {
        padding: 31px 5px 26px;
        
        .edgtf-price-in-table {
            text-align: center;
        }

		.edgtf-price-holder {
			display: inline-block;
			position: relative;
			vertical-align: middle;
		}
        .edgtf-value {
			font-family: $first-main-font;
            font-size: 24px;
            line-height: 30px;
            color: #000000;
            vertical-align:top;
            font-weight: 300;
	        left: -20px;
	        position: absolute;
	        top: 0;

        }
        .edgtf-price {
            font-size: 62px;
            font-family: $default-heading-font;
            line-height: 50px;
            padding: 0 3px;
			display: inline-block;
            vertical-align: middle;
            font-weight: 400;
			color: $default-heading-color;
        }
        .edgtf-mark {
            position: relative;
            vertical-align:bottom;
			display: block;
			padding: 7px 0 0 0;
        }
    }
	.edgtf-price-button {
		padding: 32px 0;
	}
}

.edgtf-price-table.edgtf-active{
	.edgtf-price-table-inner {
		margin: -20px 0 0;
		padding: 0 0 10px;

        ul li.edgtf-table-title {
            padding: 34px 10px;
        }

        .edgtf-price-button {
            padding: 38px 0;
        }
	}
	>ul{
        margin: -38px 0 0;
        padding: 38px 0 0;
        background-position: 0 38px;
    }
	.edgtf-table-title {
		background-color: $first-main-color;

		.edgtf-title-content {
			color: #fff;
		}
	}
    .edgtf-active-text{
        text-align: center;
		display: block;
		font-family: $first-main-font;
		font-weight: 500;
		color: $first-main-color;
    }    
}

/* ==========================================================================
# Pricing table style - end
========================================================================== */