.edgtf-process-holder {
	position: relative;

	.edgtf-process-inner {
		margin: 0 -48px;
	}

	.edgtf-process-item-holder {
		text-align: center;
		float: left;
		width: 25%;

		.no-touch & {
			opacity: 1;
		}

		.edgtf-pi-holder-inner {
			padding: 0 48px;
		}

		.edgtf-pi-number-holder {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			background-color: $first-main-color;
			border-radius: 100%;
			position: relative;
			color: #fff;
			@include edgtfTransition(background-color 0.2s ease-out, color 0.2s ease-out);


			&:after {
				content: '';
				position: absolute;
				left: 4px;
				top: 4px;
				bottom: 4px;
				right: 4px;
				border: 3px solid #fff;
				border-radius: 100%;
				@include edgtfTransition(left 0.2s ease-out, right 0.2s ease-out, top 0.2s ease-out, bottom 0.2s ease-out)

			}

			.edgtf-pi-image {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				@include edgtfTransition(opacity 0.2s ease-out);
			}

			.edgtf-pi-number {
				position: absolute;
				width: 100%;
				text-align: center;
				top: 50%;
				left: 0;
				@include edgtfTransform(translateY(-50%));

				font-size: 62px;
				line-height: 1em;
				font-weight: 300;

			}

			.edgtf-pi-arrow {
				position: absolute;
				right: -62px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 28px;
				color: $first-main-color;
			}

		}
		&:hover,
		&.edgtf-pi-highlighted {

			.edgtf-pi-number-holder {
				background-color: $second-main-color;
				color: #fff;
				&:after {
					left: 8px;
					top: 8px;
					bottom: 8px;
					right: 8px;

				}
				.edgtf-pi-image {
					opacity: 0;
				}
			}

		}

		&:last-child .edgtf-pi-arrow {
			display: none;
		}

		.edgtf-pi-content-holder {

			padding-top: 29px;
		}

	}

	&.edgtf-process-holder-items-three {
		.edgtf-process-item-holder {
			width: 33.33%;
		}
	}

	&.edgtf-process-holder-items-five {
		.edgtf-process-item-holder {
			width: 20%;
		}
	}

	&.edgtf-process-multiple-highlights {
		.edgtf-pi-holder-inner {
			width: 100%;
		}
	}

	.edgtf-pi-title-holder {
		margin-bottom: 7px;
	}

	.edgtf-pi-title {
		margin: 0;
	}

	.edgtf-pi-text-holder {
		p { margin: 0; }
	}
}