/* ==========================================================================
   Separator start style
   ========================================================================== */
.edgtf-separator-holder {
	position: relative;
	height: auto;
	font-size: 0;
    line-height: 1em;

	&.edgtf-separator-center {
		text-align: center;
	}
	&.edgtf-separator-left {
		text-align: left;
	}
	&.edgtf-separator-right {
		text-align: right;
	}

	&.edgtf-separator-full-width {
		.edgtf-separator {
			width: 100% !important;
		}
	}

}
.edgtf-separator{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 2px solid $first-main-color;
	margin: 5px 0;


}

/* ==========================================================================
   End of Separator style
   ========================================================================== */