/* ==========================================================================
   Shop masonry start style
   ========================================================================== */
.edgtf-shop-masonry {

	.edgtf-product-badge {
		position: absolute;
		display: table;
		top: 11px;
		right: 11px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		padding: 0 16px;
		z-index: 100;
		color: #fff;
		background-color: $second-main-color;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1.5px;
		text-transform: uppercase;

		&.edgtf-out-of-stock {
			background-color: #dcdcdc;
		}
	}

	.edgtf-separator{
		border-bottom:2px solid $first-main-color;
		width:30px;
		margin:13px 0 25px;
	}

	.amount{
		color: $first-main-color;
		font-size: 25px;
		font-family: $first-main-font;
		font-style: italic;
		font-weight: 600;
	}

	ins{
		text-decoration: none;
		color: #fff;
		font-size: 21px;
	}

	del,
	del .amount{
		color:#fff;
	}

	.price{
		margin-bottom: 15px;
		display: inline-block;
		position: relative;

	}

	.edgtf-masonry-product-meta-wrapper{
		position:absolute;
		top:50%;
		width:100%;
		@include edgtfTransform(translateY(-50%));
		text-align:center;

		.edgtf-add-to-cart-holder{
			position:relative;
			bottom:auto;
			left:auto;
			margin-top:25px;
		}
	}

	.edgtf-product-list-product-title{
		color:#fff;
	}

	.edgtf-product-shader{
		background-color: rgba(48, 39, 28, 0.9);
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.edgtf-masonry-product-image-holder {
		overflow: hidden;
	}

	.edgtf-masonry-product-info{
		padding:0 10px;
	}

	.edgtf-shop-list-masonry-grid-sizer,
	.edgtf-shop-product {
		width: 25%;
		overflow: visible;
	}

	.edgtf-large-width-masonry-item,
	.edgtf-large-width-height-masonry-item {
		width: 50%;
	}

	.add_to_cart_button,
	.added_to_cart{
		$add_to_cart_size:45px;
		position:relative;
		font-size:22px;
		border:none;
		color: $default-heading-color;
		width:$add_to_cart_size;
		height:$add_to_cart_size;
		padding:8px 5px;
		background-color: #fff;
		overflow:hidden;
		@include edgtfTransition(width .5s cubic-bezier(.19,1,.22,1));
		&:hover{
			width: 170px;
		}
		.edgtf-btn-text{
			position:absolute;
			top: 50%;
			@include edgtfTransform(translateY(-50%));
			margin-left:$add_to_cart_size;
			font-size: 13px;
			font-weight: 800;
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			letter-spacing: 1.7px;
			display:block;
			white-space: pre;
			word-wrap: break-word;
		}
		.edgtf-icon-font-elegant{
			position:absolute;
			left:($add_to_cart_size - 23px) / 2; // 23px is font-size of icon
			top: 50%;
			@include edgtfTransform(translateY(-50%));
			&:before{
				position:relative;
				top:-1px;
			}
		}
	}

	.add_to_cart_button.added{
		display:none;
	}

	.edgtf-product-shader,
	.edgtf-masonry-product-meta-wrapper{
		opacity:0;
		@include edgtfTransition(opacity 0.3s ease-out);
	}

	.edgtf-shop-product{
		.price,
		.edgtf-product-list-product-title,
		.edgtf-add-to-cart-holder{
			opacity:0;
			@include edgtfTransform(translateY(50%));
			-webkit-transition: -webkit-transform 0s ease-out .15s;
			transition: transform 0s ease-out .15s;
			@include edgtfTransition(transform 0s ease-out .15s);
		}

		&:hover{
			.edgtf-product-shader,
			.edgtf-masonry-product-meta-wrapper,
			.price,
			.edgtf-product-list-product-title,
			.edgtf-add-to-cart-holder{
				opacity:1;
			}

			.price{
				transform:translateY(0);
				-webkit-transition: -webkit-transform .2s cubic-bezier(0.7,0,0.9,1) .15s;
				-moz-transition: -moz-transform .2s ease-out .15s;
				transition: transform .3s cubic-bezier(0.1,0,0.3,1) .15s, opacity .3s cubic-bezier(0.1,0,0.3,1) .15s;
			}
			.edgtf-product-list-product-title{
				transform:translateY(0);
				-webkit-transition: -webkit-transform .2s ease-out .2s;
				-moz-transition: -moz-transform .2s ease-out .2s;
				transition: transform .3s cubic-bezier(0.1,0,0.3,1) .35s, opacity .3s cubic-bezier(0.1,0,0.3,1) .35s;
			}
			.edgtf-add-to-cart-holder{
				transform:translateY(0);
				-webkit-transition: -webkit-transform .2s ease-out .25s;
				-moz-transition: -moz-transform .2s ease-out .25s;
				transition: transform .3s cubic-bezier(0.1,0,0.3,1) .55s, opacity .3s cubic-bezier(0.1,0,0.3,1) .55s;
			}
		}
	}
}

.edgtf-shop-list-masonry {
	opacity: 0;
	margin:0 -15px;
}
/* ==========================================================================
   Shop masonry end style
   ========================================================================== */