/* ==========================================================================
# Social Share style - begin
========================================================================== */

.edgtf-social-share-holder {
	
	ul {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	
}

/* List type - begin
========================================================================== */


.edgtf-social-share-holder.edgtf-list {

	li {
		display: inline-block;
		margin-right: 18px;

		a {
			color: $default-text-color;
			font-size: 13px;

			&:hover {
				color: $first-main-color;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.edgtf-social-share-title {
		font-family: $default-heading-font;
		font-size: 15px;
		font-weight: 700;
		color: $default-heading-color;
		margin-right: 14px;
		vertical-align: middle;
	}

}

/* List type - end
========================================================================== */

/* Dropdown type - begin
========================================================================== */

.edgtf-social-share-holder.edgtf-dropdown {
	position: relative;
	display: inline-block;

	.edgtf-social-share-dropdown-opener {
		display: block;
	}

	.edgtf-social-share-title {
		display: inline-block;
		margin-left: 5px;
	}

	.edgtf-social-share-dropdown {
		visibility: hidden;
		z-index: 950;
		float: left;

		ul {
			position: relative;
			display: block;
			z-index: 990;
			padding: 0 !important;
			min-width: 50px;
			font-weight: 400;
		}

		ul li {
			visibility: hidden;
			position: absolute;
			text-align: center;
			min-width: 50px;
			float:left;
			opacity: 0.2;
			@include edgtfTransition(all 0.2s ease-out);
		}

		img {
			width: 8px;
			margin-right: 10px;
		}

	}

}

.edgtf-social-share-holder.edgtf-dropdown:hover {

	.edgtf-social-share-dropdown ul li {
		opacity: 1;
		visibility: visible;
		cursor: pointer;
	}

	.edgtf-social-share-dropdown ul li {

		&:nth-child(2) {
			left: 50px;
			transition-delay: .1s;
		}

		&:nth-child(3){
			left: 100px;
			transition-delay: .2s;
		}

		&:nth-child(4){
			left: 150px;
			transition-delay: .3s;
		}

		&:nth-child(5){
			left: 200px;
			transition-delay: .4s;
		}

		&:nth-child(6){
			left: 250px;
			transition-delay: 0.5s;
		}

		&:nth-child(7){
			left: 300px;
			transition-delay: 0.6s;
		}

	}

}

/* Dropdown type - end
========================================================================== */

/* ==========================================================================
# Social Share style - end
========================================================================== */








