/* ==========================================================================
# Team style - begin
========================================================================== */

/* Team type main info on hover - begin
========================================================================== */

.edgtf-team {

	&:not(.main-info-below-image) {
		overflow:hidden;
        text-align: center;
	}

	.edgtf-team-inner {
		overflow:hidden;
		width: 100%;
	}

	.edgtf-team-image {
		position:relative;
		overflow: hidden;

		img {
			width: 100%;
			vertical-align: middle;
		}

	}

	.edgtf-team-description {
		display: table;
		width: 100%;
		height: 100%;
	}

	.edgtf-team-text {
		p {
			margin: 0;
		}
	}

	.edgtf-team-social {
		display: table;
		width: 100%;
		height: 100%;

		.edgt_icon_ion_icon:before,
		.edgt_icon_linea_icon:before {
			line-height: inherit;
		}

	}

	.edgtf-team-social-inner {
		display: table-cell;
		vertical-align: middle;
		position: relative;
	}

	.edgtf-team-social-holder {
		position: absolute;
		height: 100%;
		width: 100%;
		left:0;
		top: 0;
		opacity: 0;
		display:table-cell;
		vertical-align: middle;
		background-color: rgba(48, 39, 28, 0.85);
		@include edgtfTransition(opacity 0.15s ease-out, background-color 0.15s ease-out);
		@include edgtfTransform(translateZ(0px));

		.social_icon {
			font-size: inherit;
			line-height: inherit;
		}

		.social_icon {
			display: block;

			&:before{
				display: block;
			}

		}

	}

	&:hover {

		.edgtf-team-social-holder{
			@include edgtfTransition(opacity 0.4s ease);
			opacity:1;
		}

	}

	&.main-info-on-hover {
		.edgtf-team-social-wrapp {
			margin: 20px 0 0 0;
		}
		.edgtf-team-name{
			color: #fff;
		}
		.edgtf-team-position {
			margin: 4px 0 17px 0;
			color: $first-main-color;
			font-family: $first-main-font;
			font-style: italic;
			font-size: 13px;
		}
		.edgtf-team-description{
			color: #fff;
			padding: 0 62px;
			box-sizing:border-box;
		}

		.edgtf-team-social-wrapp a{
			color: $default-elements-background-color;
			@include edgtfTransition(color .3s ease-out);
			&:hover{
				color:$first-main-color;
			}
			.edgtf-icon-element{
				@include edgtfTransition(none);
			}
		}
		.edgtf-icon-shortcode {
			margin-right:25px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

}

.touch .edgtf-team .edgtf-team-social-holder {
	cursor: pointer;
}

/* Team type main info on hover - end
========================================================================== */

/* Team type main info below image - begin
========================================================================== */

.edgtf-team.main-info-below-image {
	-webkit-transform: translateZ(0);

	.edgtf-team-social-wrapp {
		margin: 10px 0 0 0;
	}
	.edgtf-icon-element{
		color: $first-main-color;
		&:hover{
			color: $second-main-color;
		}
	}

	.edgtf-team-name {
		margin-bottom: 4px;
	}

	.edgtf-icon-shortcode {
		.edgtf-icon-element{
			margin: 13px;
			font-size: 18px;
		}

		&:first-child {
			.edgtf-icon-element{
				margin-left: 0;
			}
		}
	}

	.edgtf-team-description{
		padding: 0;
		@include edgtfBoxSizing(border-box);
	}

	.edgtf-team-info {
		padding-top: 15px;

		.edgtf-team-position {
			margin: 0;
			color: $first-main-color;
			font-family: $default-heading-font;
			font-size: 14px;
			font-weight: 700;
		}

	}

	.edgtf-team-image {
		overflow: visible;

        .edgtf-team-image-link {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: transparentize($first-main-color, 0.25);
            opacity: 0;
            z-index: 2;
            @include edgtfTransition(opacity 0.2s ease-in-out);
        }

        &:hover {
            .edgtf-team-image-link {
                opacity: 1;

                &:before {
                	position: absolute;
				    top: 50%;
				    left: 50%;
                	font-size:25px;
                	color:#fff;
                	@include edgtfTransform(translate3d(-50%,-50%,0));
                }
            }
        }
	}


	.edgtf-team-social-wrapp ul {
		list-style: none;
		position: relative;
		display: block;
		z-index: 990;
	}

	.edgtf-team-social-wrapp ul li{

		&:first-child {
			bottom: 56px; /* social share icon + space between icons */
			transition-delay: .5s;
		}

		&:nth-child(2) {
			bottom: 102px; /* previous icon position + icon height + space between icons */
			transition-delay: .4s;
		}

		&:nth-child(3) {
			bottom: 148px;  /* previous icon position + icon height + space between icons */
			transition-delay: .3s;
		}

		&:nth-child(4) {
			bottom: 194px;  /* previous icon position + icon height + space between icons */
			transition-delay: .2s;
		}

		&:nth-child(5) {
			bottom: 240px;  /* previous icon position + icon height + space between icons */
			transition-delay: .1s;
		}

	}

	.edgtf-team-social.normal-social .edgtf-team-social-wrapp ul li {

		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		opacity: 0;
		-webkit-transition: opacity .03s ease-out, position .1s ease-out;
		transition:  opacity .03s ease-out, position .1s ease-out;

		&:first-child {
			bottom: 50px;
		}

		&:nth-child(2) {
			bottom: 90px;
		}

		&:nth-child(3) {
			bottom: 130px;
		}

		&:nth-child(4) {
			bottom: 170px;
		}

		&:nth-child(5) {
			bottom: 210px;
		}

	}

	.edgtf-team-text {
		padding: 10px 0 0 0;

		p {
			margin: 0;
		}
	}

	&:hover {

		.edgtf-team-social-wrapp ul li {
			opacity: 1;
			cursor: pointer;

			&:first-child {
				transition-delay: .1s;
			}

			&:nth-child(2) {
				transition-delay: .2s;
			}

			&:nth-child(3) {
				transition-delay: .3s;
			}

			&:nth-child(4) {
				transition-delay: .4s;
			}

			&:nth-child(5) {
				transition-delay: .5s;
			}

		}

	}

	&.edgtf-team-image-grayscale {
		.edgtf-team-image {
			img {
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				filter: grayscale(100%);
				@include edgtfTransition(all 0.3s ease-out);
			}

			&:hover {
				img {
					-webkit-filter: grayscale(0);
					filter: none;
				}
			}
		}

	}

}

/* Team type main info below image - end
========================================================================== */

/* ==========================================================================
# Team style - end
========================================================================== */