/* ==========================================================================
# Unordered List Style - begin
========================================================================== */

.edgtf-unordered-list ul{
	display: block;
	margin: 0;
	padding: 0;
    
    >li{
        position: relative;
        font-family: inherit;
    }    
}
.edgtf-unordered-list{
	font-size: 14px;
	ul {
		list-style-type: none;
		li{
			padding-left: 26px;
			padding-bottom: 9px;
		}
	}

    &.edgtf-square ul > li{
        &:before {
            height: 5px;
            width: 5px;
            display: inline-block;
            position: absolute;
            left: 0;
            top:10.5px;
            padding: 0;
            background-color:$first-main-color;
            text-align: center;
            content: '';
        }
    }

	&.edgtf-circle ul > li{
		&:before {
			height: 5px;
			width: 5px;
			display: inline-block;
			position: absolute;
			left: 0;
			top:10.5px;
			padding: 0;
			background-color:$first-main-color;
			text-align: center;
			content: '';
			border-radius:5px;
		}
	}
}
.edgtf-unordered-list.edgtf-animate-list ul li {
    opacity: 0;
    top: -40px;
    @include edgtfTransition(opacity 0.4s ease-in-out,
            top 0.4s ease-in-out)
}

.edgtf-unordered-list.edgtf-animate-list.edgtf-appeared ul li,
.touch .no_animation_on_touch .edgtf-unordered-list.edgtf-animate-list  ul li{
    opacity: 1;
    top: 0;
}

/* ==========================================================================
# Unordered List Style - end
========================================================================== */
