.edgtf-header-full-screen {

    .edgtf-menu-area {
        background-color: #fff;
		box-sizing: border-box;

        .edgtf-vertical-align-containers {

            .edgtf-position-right-inner{

               }
        }
    }
	.edgtf-search-opener{
		font-size:15px;
	}

	.edgtf-fullscreen-menu-opener{
		position:relative;
		display:inline-block;
		vertical-align: middle;
	}


}

.edgtf-fullscreen-menu-opened {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: hidden;

	&.admin-bar {
		top: 32px;
		height: calc(100% - 32px);
	}
}
