@include laptop-mid-landscape{
	.edgtf-overlapping-content-holder {
		.edgtf-overlapping-content {
			padding: 30px 55px 0;
		}
	}
}

@include ipad-landscape {
	.edgtf-overlapping-content-enabled {
		.edgtf-title .edgtf-title-holder .edgtf-container {
			padding-bottom: 70px;
		}
	}

	.edgtf-overlapping-content-holder {
		margin-top: -70px;

		.edgtf-overlapping-content {
			padding: 40px;
		}
	}
}

@include ipad-portrait {
	.edgtf-overlapping-content-enabled {
		.edgtf-title .edgtf-title-holder .edgtf-container {
			padding-bottom: 75px;
		}
	}

	.edgtf-overlapping-content-holder {
		margin-top: -75px;

		.edgtf-overlapping-content {
			padding: 20px;
		}
	}
}

@include phone-landscape {
	.edgtf-overlapping-content-enabled {
		.edgtf-title .edgtf-title-holder .edgtf-container {
			padding-bottom: 0;
		}
	}

	.edgtf-overlapping-content-holder {
		margin-top: -70px;
	}
}

@include smaller-phone-portrait {
	.edgtf-overlapping-content-holder{
		width:100%;
	}
}

