$overlapping-content-amount: 80px;
.edgtf-overlapping-content-enabled {
	.edgtf-content-inner > .edgtf-container {
		position: static;
		text-align: center;
	}

	.edgtf-title .edgtf-title-holder .edgtf-container {
		padding-bottom: $overlapping-content-amount;

		@include edgtfBoxSizing(border-box);
	}
}

.edgtf-overlapping-content-holder {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 102;
	margin-top: -$overlapping-content-amount;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	@include edgtfTransform(translateY(100px));
	&.edgtf-appeared {
		visibility: visible;
		opacity: 1;
		@include edgtfTransform(translateY(0px));
	}
	&.edgtf-animated {
		visibility: visible;
		opacity: 1;
		@include edgtfTransform(translateY(0px));
		-webkit-transition:opacity .5s ease .1s, -webkit-transform 1.5s cubic-bezier(0.25, 0.1, 0.02, 0.91) .2s;
		transition:opacity .5s ease .1s, transform 1.5s cubic-bezier(0.25, 0.1, 0.02, 0.91) .2s;
	}

	.edgtf-overlapping-content {
		background-color: #fff;
		box-shadow: $default-box-shadow;
		padding: 80px 75px 0;
	}

}