/* ==========================================================================
   #Event Calendar styles
   ========================================================================== */
.edgtf-event-list-holder.edgtf-event-list-calendar{
	font-size: 0;
	margin-bottom: 1px; //because of the border disappearing

	.edgtf-event-list-holder-inner{
		background-color: $default-elements-background-color;
	}

	.edgtf-el-item{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		border: 1px solid #e3e2e0;
		box-sizing: border-box;
		text-align: left;

		.edgtf-el-item-inner{
			padding-top: 79%;
		}

		.edgtf-el-item-inner-holder{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.edgtf-el-item-link{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}

		.edgtf-el-item-background{
			position: relative;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-size: cover;
			background-position: center;
			@include edgtfTransform(scale(1.12));
			@include edgtfTransition(all .4s cubic-bezier(0.53, 0.01, 0.18, 1));
		}

		.edgtf-el-item-content{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 15px 20px;
			box-sizing: border-box;
		}

		.edgtf-el-item-date {

			font-family: $default-heading-font;

			.edgtf-el-item-day{
				font-size: 35px;
				line-height: 1em;
				font-weight: 700;
				letter-spacing: 1px;
				margin-right: 7px;
			}

			.edgtf-el-item-my {

				display: inline-block;

				.edgtf-el-item-month,
				.edgtf-el-item-year{
					display: block;
					font-size: 14px;
					font-weight: 700;
					line-height: 15px;
					text-transform: lowercase;
				}
			}
		}

		

		.edgtf-el-item-location-title-holder{

			position: absolute;
			bottom: 30px;

			.edgtf-el-item-location{
				font-size: 14px;
				font-weight: 700;
			}
		}

		&:hover{
			.edgtf-el-item-background{
				opacity: 1;
				@include edgtfTransform(scale(1));
			}
			.edgtf-el-item-content,
			.edgtf-el-item-title {
				color: #fff;
			}

			.edgtf-el-item-content {
				background: rgba(0,0,0,.4);
			}
		}
	}

	@for $i from 1 through 5 {
		&.edgtf-event-list-col-#{$i} {
			.edgtf-el-item{
				width:#{100%/$i};
			}
		}
	}
}