@import 'small-images';
@import 'small-slider';
@import 'big-images';
@import 'big-slider';
@import 'gallery';
@import 'small-masonry';
@import 'big-masonry';

.edgtf-portfolio-single-holder {
	margin-top:100px;
	.edgtf-portfolio-media {
		a {
			display: block;
			position: relative;
		}
		img{
			vertical-align:middle;
		}
	}

	.edgtf-portfolio-title{
		margin-bottom:16px;
	}

	.edgtf-portfolio-content{
		margin-bottom: 35px;
	}

	.edgtf-portfolio-social{
		.edgtf-social-share-holder{
			display:table;
			table-layout:fixed;
			width:100%;

			.edgtf-social-share-title{
				display:table-cell;
				width:25%;
			}
		}
		border-top:1px solid #ebebeb;
		padding-top:19px;
		margin-top:19px;
	}

    .edgtf-portfolio-info-item {
        margin-bottom: 12px;

	    &:not(.edgtf-content-item){
		    display:table;
		    table-layout:fixed;
		    width:100%;
		    line-height: 22px;

		    .edgtf-portfolio-info-item-title{
			    display: table-cell;
			    width: 28%;
			    color: $default-heading-color;
			    font-weight: 700;
			    font-size: 15px;
			    font-family: $default-heading-font;
			    line-height: 22px;
		    }

		    p {
			    display:table-cell;
			    width: 72%;
		    }
	    }

        &:last-child:not(.edgtf-content-item) {
            margin-bottom: 0;
	        padding-bottom:16px;
	        border-bottom:1px solid #ebebeb;
        }
    }

	.edgtf-portfolio-info-holder{
		margin-top:2px; //to set 1st and 2nd column at the same level (due to line-height diff)
	}

	.edgtf-portfolio-single-nav-inner{
		width:$grid-width;
		margin:0 auto;
		position:relative;
	}

    .edgtf-portfolio-single-nav {
	    margin-top:60px;
        $nav-height :40px;
        height: $nav-height;
        line-height: $nav-height;
        text-align: center;
        position: relative;
	    background-color: $default-elements-background-color;
        padding-top: 30px;
        padding-bottom: 30px;

        span {
            line-height: $nav-height;
            font-size: 25px;

            @include edgtfTransition(color 0.15s ease-in-out);
        }

        .edgtf-portfolio-back-btn {
            display: inline-block;
		    @include edgtfTransition(all .2s ease);

	        a {
		        width:20px;
		        height:$nav-height;
		        position:relative;
		        display: block;
		        color: $first-main-color;
		        @include edgtfTransition(color 0.2s ease);

		        span {
		        	font-size: 21px;
		        }

		        &:hover {
		        	color: $default-heading-color;
		        }
	        }
        }

        .edgtf-portfolio-next,
        .edgtf-portfolio-prev{
            height: $nav-height;
        }

        .edgtf-portfolio-next,
        .edgtf-portfolio-prev {
            position: absolute;
            top: 0;

	        span{
		        color: #000;
		        @include edgtfTransition(color 0.2s ease);
	        }

	        &:hover span {
				color: $first-main-color;
	        }
        }

        .edgtf-portfolio-prev {
            left: 0;
	        span{
		        float:left;
	        }
        }

        .edgtf-portfolio-next {
            right: 0;
	        span{
		        float:right;
	        }
        }
    }

    .edgtf-portfolio-video-lightbox {
        position: relative;
        display: block;

        img {
            vertical-align: middle;
        }
    }

    .edgtf-portfolio-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        .edgtf-portfolio-play-icon {
            position: absolute;
            font-size: 20px;
            left: 50%;
            top: 50%;

            @include edgtfTransform(translate(-50%, -50%));
        }
    }

	.edgtf-slick-slider-navigation-style .edgtf-slick-prev {
		left: 16px;
		right: auto;
		color: #fff;
	}
	.edgtf-slick-slider-navigation-style .edgtf-slick-next {
		right: 16px;
		left: auto;
		color: #fff;
	}
}

@media only screen and (min-width: 1400px){
	.edgtf-grid-1300{
		.edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner{
			width: $grid-width-1300;
		}
	}
}

@media only screen and (min-width: 1300px){
	.edgtf-grid-1200{
		.edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner{
			width: $grid-width-1200;
		}
	}
}

@media only screen and (min-width: 1200px){
	.edgtf-grid-1000{
		.edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner{
			width: $grid-width-1000;
		}
	}
}

@media only screen and (min-width: 1000px){
	.edgtf-grid-800{
		.edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner{
			width: $grid-width-800;
		}
	}
}