/* ==========================================================================
# Footer style - begin
========================================================================== */

footer {
	display: block;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	position: relative;
	@include edgtfBoxSizing(border-box);

	.edgtf-footer-inner {
		position: relative; /* for triangle back to top and ajax transitions */
	}

	.edgtf-container {
		background-color: inherit;
	}

	.edgtf-container-inner {
		position: relative;
	}

	.edgtf-container-inner > .widget{
		text-align: center;
	}

	a {
		text-decoration: none;
		&:hover {
		    color: $first-main-color;
		}
	}

	.edgtf-footer-ingrid-border-holder-outer {
		background-color: #1d1d1d;
	}

	.edgtf-footer-top-border-holder,
	.edgtf-footer-bottom-border-holder {
		position: relative;
		display: block;
		width: 100%;
	}

	.edgtf-footer-top-border-holder.edgtf-in-grid,
	.edgtf-footer-bottom-border-holder.edgtf-in-grid {
		width: $grid-width;
		margin: 0 auto;
	}

	.edgtf-footer-top-holder {
		display: block;
		background-color: #141414;
		position:relative;
		background-position:center center;
		background-size: cover;
		border-bottom: 1px solid #141414;
	}

	.edgtf-footer-top {

		.edgtf-footer-top-full {
			padding: 68px 25px 62px;
		}

		&:not(.edgtf-footer-top-full) .edgtf-container-inner {
			padding: 98px 0 90px;
		}

		&.edgtf-footer-top-aligment-center {
			text-align: center;
		}

		&.edgtf-footer-top-aligment-left {
			text-align: left;
		}

		&.edgtf-footer-top-aligment-right {
			text-align: right;
		}

	}

	
	.edgtf-footer-bottom-holder {
		width: 100%;
		background-color: #000;
		vertical-align: middle;
		text-align: center;
		padding: 18px 0;
		border-top: 1px solid #000;

		.edgtf-column-inner {
			text-align: center;
			vertical-align: middle;
		}

		.edgtf-three-columns .edgtf-column:first-child .edgtf-column-inner {
			text-align: left;
		}

		.edgtf-three-columns .edgtf-column:last-child .edgtf-column-inner {
			text-align: right;
		}

		.edgtf-two-columns-50-50 .edgtf-column:first-child .edgtf-column-inner {
			text-align: left;
		}

		.edgtf-two-columns-50-50 .edgtf-column:last-child .edgtf-column-inner {
			text-align: right;
		}

		.edgtf-footer-bottom-border-bottom-holder {
			clear: both;
		}

	}

	.edgtf-search-wrapper {
		position: relative;
		line-height: normal;

		input[type='text'] {
			width: 100%;
			outline: none;
			border: 2px solid #e2e2e2;
			line-height: 37px;
			height: 37px;
			box-sizing: border-box;
			padding: 0 37px 0 15px;
			font-size: 14px;
			font-weight: 400;
			color: $default-text-color;
			background-color: #fff;
		}

		::-webkit-input-placeholder {
			color: $default-text-color;
			opacity: 1;
		}
		:-moz-placeholder {
			color: $default-text-color;
			opacity: 1;
		}
		::-moz-placeholder {
			color: $default-text-color;
			opacity: 1;
		}
		:-ms-input-placeholder {
			color: $default-text-color;
			opacity: 1;
		}

		input[type='submit'] {
			position: absolute;
			right: 0;
			top: 0;
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			cursor: pointer;
			font-size: 15px;
			color: #fff;
			font-family: 'ElegantIcons', serif !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			border:none;
			background: $first-main-color;
			padding:0;
			letter-spacing: normal;
			@include edgtfTransition(color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out);

			&:hover {
				color: $second-main-color;
			}
		}
	}

}

/* Footer uncover - begin
========================================================================== */

@media only screen and (min-width: 1025px) {
    body:not(.error404) footer.edgtf-footer-uncover {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        @include edgtfTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));

        .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text,
        .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number,
        .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date,
        .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea,
        .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select,
        .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz {
            transform: none;
        }

    }

    .edgtf-right-side-menu-opened footer.edgtf-footer-uncover {
        left: -370px;
    }
}

/* Footer uncover - end
========================================================================== */

/* Footer boxed - begin
========================================================================== */

.boxed footer {
	width: 100% !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

/* Footer boxed - end
========================================================================== */

/* Footer disabled - begin
========================================================================== */

footer.edgtf-disable-footer {
	display: none;
}

/* Footer disabled - end
========================================================================== */


/* ==========================================================================
# Footer style - end
========================================================================== */

/* ==========================================================================
# Footer widgets - begin
========================================================================== */

footer .widget {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	.edgtf-footer-widget-title {
		color: #ffffff;
		margin-bottom: 29px;
	}

	&.widget_edgtf_instagram_widget{
		.edgtf-footer-widget-title {
			margin-bottom: 31px;
		}
	}

	ul {
		list-style: none;

		li {
			a {
				color: #c7c7c7;
				font-family: $default-heading-font;

				&:hover {
				    color: $first-main-color;
				}
			}
			padding-bottom: 15px;
		}
	}

    &.widget_nav_menu {
        ul {
            li {

                padding-bottom: 12px;

                a {
                    &:hover {
                        color: #fff;
                    }

                    &:before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 4px 0 4px 6px;
                        border-color: transparent transparent transparent $first-main-color;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

	select,
	input[type="text"] {
		width: 100%;
		overflow: hidden;
		border: 1px solid #e9e9e9;
		background-color: #f6f6f5;
		padding: 0 10px;
		height: 35px;
		outline: none;
		color: #7f8385;
		font-family: inherit;
		@include edgtfBoxSizing(border-box);
	}

	&.widget_recent_entries {

		ul {
			li{
				margin-bottom: 13px;
				border-bottom: 1px solid rgba(168, 164, 161, 0.25);
				width: 84%;

				&:last-child {
					border: none;
				}

				a {
					font-family: $default-heading-font;
					font-style: normal;
                    color: #fff;

                    &:hover {
                    	color: #f6f4ee;
                    }
				}
			}
		}

		.post-date {
			display: block;
			font-size: 11px;
			line-height: 14px;
			color: $first-main-color;
			font-family: $first-main-font;
		}
	}

	&.widget_text {
		color: #c7c7c7;
	}

	.edgtf-working-hours-holder {
		width: 70%;
	}

	.edgtf-working-hours-holder .edgtf-wh-day,
	.edgtf-working-hours-holder .edgtf-wh-hours {
		font-size: 14px;
		line-height: 33px;
	}
}

.edgtf-subscription-form {
		position: relative;
        width: 80%;
		.wpcf7-form-control.wpcf7-text {
			border: 1px solid #acacac;
			background-color: transparent;
			margin: 0;
			font-family: 'Open Sans', sans-serif;
			width: calc(100% - 44px);
			font-size: 11px;
			padding: 11px 12px;
			color: #bcbcbc;
			font-style: normal;
		}

		::-webkit-input-placeholder {
		    color: #bcbcbc;
		}
		:-moz-placeholder { 
		   color: #bcbcbc;
		   opacity: 1;
		}
		::-moz-placeholder {
		   color: #bcbcbc;
		   opacity: 1;
		}
		:-ms-input-placeholder {
		   color: #bcbcbc;
		}

		input.wpcf7-form-control.wpcf7-submit {
			position: absolute;
			top: 0;
			right: 0;
			width: 39px;
			height: 39px;
			line-height: 35px;
			font-size: 20px;
			padding: 0;
			font-family: 'ElegantIcons', sans-serif;

			&:hover {
				color: #fff;
				background-color: darken($first-main-color,20%);
				border-color: darken($first-main-color,20%);
			}

			&:focus {
				outline: none;
			}
		}
        @media only screen and (min-width: 769px) and (max-width: $ipad-landscape) {
            width: 100%;
        }
        @include ipad-portrait {
            width: 50%;
            margin-bottom: 40px;
        }
        @include phone-landscape {
            width: 80%;
        }
	}

footer .edgtf-footer-bottom-holder {
	.widget.widget_text {
		color: #828282;
	}
}

/* ==========================================================================
# Footer widgets - end
========================================================================== */

