/* ==========================================================================
   Social Icon widget start styles
   ========================================================================== */

.edgtf-social-icon-widget-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;

    .edgtf-social-icon-widget {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
    }

    .edgtf-top-bar & ,
    footer & {
        color: #fff;
    }
}
/* ==========================================================================
   Social Icon widget end styles
   ========================================================================== */